/* .kn-form-filling-tips {
  padding: 2rem;
  background-color: var(--white);
  border-radius: 0.3rem;
  border: 1px solid var(--light-grey);
  max-width: 90%;
}

.kn-form-filling-tips h3 {
  font-size: 1.5rem;
  color: var(--thunder);
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.kn-form-filling-tips h3 svg {
  font-size: 1.5rem;
  color: var(--golden);
  margin-right: 0.5rem;
}

.kn-form-filling-tips p {
  font-size: 1.3rem;
  color: var(--carbon-grey);
} */
